.p1{
    background-color: pink;
    font-family: serif;
    font-size: 12pt;
    color: blue;
}
/* .p1 p{
    background-color: blue;
} */
.p2{
    background-color: green;
    font-family: fantasy;
    font-size: 14pt;
    color: white;
}
/* .p2 p{
    background-color: white;
} */