html, body, div, span, h1, h2, h3, h4, h5, h6, p, section, header, footer, figure, dl, dt, dd, ul, li, ol{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}